.top_tags_tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 10rem;
  height: 1.5rem;
  background-color: $primary;
  color: white;
  margin-left: 1rem;
}
.top_tags_tag:first-child {
  margin-left: 0;
}
