* {
  font-family: "Montserrat";
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  // white-space: nowrap;
  line-height: 142.6%;
}

.location-titre {
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 142.6%;
}

h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 142.6%;
}
.top_left_where {
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 142.6%;
  }
}

.top_tags_tag {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 142.6%;
}

.top_host_name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 142.6%;
}

.bottom_description_title {
  p {
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 142.6%;
  }
}

.bottom_description_texte {
  p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.6%;
  }
}
