* {
  font-family: "Montserrat";
}

h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 3rem;
  // white-space: nowrap;
  line-height: 142.6%;
}

.location-titre {
  font-style: normal;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 142.6%;
}
