body {
  max-width: 1400px;
  margin: 0 auto;
}
#root {
  margin: 0 2rem;
}
header {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  svg {
    width: 9rem;
    height: 3rem;
    margin-right: 2rem;
  }
  nav {
    width: 14rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      color: $primary;
      &:hover {
        text-decoration: underline;
        color: $primary;
      }

      &:first-child {
        margin-right: 1rem;
      }
      &:nth-child(2) {
        white-space: nowrap;
      }
    }
  }
}

.imgAcceuil {
  margin-top: 3rem;
  width: 100%;
  height: 10rem;
  position: relative;
  z-index: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  .overlay {
    position: absolute;
    z-index: 10;
    background: #000000;
    opacity: 0.3;
    border-radius: 25px;
    width: 100%;
    height: 100%;
    top: 0;
  }
  h1 {
    width: 100%;
    position: absolute;
    z-index: 20;
    color: #ffffff;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
}

.location-container {
  margin-top: 5rem;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 21.25rem);
  // column-gap: 5rem;
  // row-gap: 2.5rem;
  gap: 5rem;
}

.location {
  width: 21rem;
  height: 21rem;
  position: relative;
  img {
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  &-titre {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 10rem;
    color: black;
  }
}

footer {
  width: 100%;
  height: 9rem;
  margin-top: 3rem;
  background-color: #000000;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo {
    margin-top: 2rem;
  }
  p {
    margin-top: 2rem;

    color: white;
  }
}

// @media screen and (max-width: 450px) {
//   .location {
//     margin: 2rem 0;
//   }
// }
