.carrousel {
  margin-top: 4rem;
  position: relative;
  img {
    height: 30rem;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  svg {
    position: absolute;
    // z-index: 10;
    top: 45%;
  }
  .left {
    left: 0;
  }
  .right {
    right: 0;
  }
}
.main_logement {
  margin-top: 2rem;
}

.top {
  display: flex;
  justify-content: space-between;
  &_left {
    width: 80%;
  }
  &_tags {
    display: flex;
    margin-top: 1.5rem;
    max-width: 80%;
    &_tag {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      width: 10rem;
      height: 1.5rem;
      background-color: $primary;
      color: white;
      margin-left: 1rem;
    }
    &_tag:first-child {
      margin-left: 0;
    }
  }
  &_host {
    margin-left: 2.5rem;
    display: flex;
    &_name {
      margin-right: 1rem;
    }
    & img {
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }
}
.top_right_ratings {
  margin-top: 1.5rem;
  svg {
    margin-left: 0.5rem;
  }
}
.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  &_description {
    width: 45%;
    &_title {
      position: relative;
      z-index: 1;
      top: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $primary;
      height: 2.5rem;
      border-radius: 10px;
      p {
        color: white;
        margin-left: 1rem;
      }
      svg {
        margin-right: 1rem;
      }
    }
    &_texte {
      position: relative;
      bottom: 0;
      border: 1px solid transparent;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: $secondary;
      margin-top: -0.5rem;
      p {
        padding: 2rem 1rem 2.7rem 1rem;
        color: $primary;
      }
      ul {
        margin: 2.2rem 0 2.6rem 0;
        li {
          margin-top: 0.2rem;
          margin-left: 1rem;
          color: $primary;
        }
      }
    }
  }
}

.hidden {
  display: none;
}
.turn {
  transform: rotate(180deg);
}
// .link-active {
//   text-decoration: underline;
//   color: $primary;
// }
