.star {
  margin-left: 0.5rem;
}

@media screen and (max-width: 500px) {
  .star {
    width: 1.5rem;
    margin-left: 0.2rem;
  }
}
@media screen and (max-width: 415px) {
  .star {
    margin-left: 0.1rem;
  }
}
@media screen and (max-width: 360px) {
  .star {
    height: 1.2rem;
    margin-left: 0;
  }
}
