.main_logement {
  margin-top: 2rem;
}

.top {
  display: flex;
  justify-content: space-between;
  &_left {
    width: 75%;
  }
  &_tags {
    display: flex;
    margin-top: 1.5rem;
    width: 85%;
  }
}

.bottom-logement {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

@media screen and (max-width: 850px) {
  .top {
    flex-direction: column;
    &_left {
      width: 100%;
      margin-bottom: 2rem;
    }
    &_right {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }
  .bottom-logement {
    flex-direction: column;
    .bottom_description {
      width: 100%;
      &:first-child {
        margin-bottom: 2rem;
      }
    }
  }
  .top_tags {
    width: 100%;
  }
}
@media screen and (max-width: 630px) {
  .high {
    display: grid;
    grid-template-columns: repeat(auto-fill, 10rem);
    gap: 1rem;
    height: auto;
  }
}
