.top_host {
  border: 1px solid black;
  margin-left: 2.5rem;
  display: flex;
  &_name {
    margin-right: 1rem;
    color: $primary;
  }
  &_img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
}
