header {
  border: 1px solid black;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  svg {
    // width: 9rem;
    // height: 4.25rem;
    margin-right: 2rem;
  }
  // img {
  //   height: 4.25rem;
  // }
  nav {
    width: 14rem;
    margin-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      font-style: normal;
      font-weight: 500;
      font-size: 1.5rem;
      line-height: 142.6%;
      color: $primary;
      &:hover {
        text-decoration: underline;
        color: $primary;
      }

      &:first-child {
        margin-right: 1rem;
      }
      &:nth-child(2) {
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .acceuil-logo {
    // height: 2.9rem;
  }
  // .link {
  //   font-style: normal;
  //   font-weight: 500;
  //   font-size: 0.75rem;
  //   line-height: 142.6%;
  // }
}
